$paper_border_radius: 7.5px;
$shadow_color: rgba(0, 0, 0, 0.302);

$BG_LIGHT_1: #00aae4;
$BG_LIGHT_2: #6cdaff;
$BG_DARK_1: black;
$BG_DARK_2: rgb(59, 0, 87);

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: 100vh;

	padding-bottom: 2rem;
	box-sizing: border-box;

	font-family: monospace;

	background-color: #00aae4;
	background: linear-gradient(180deg,
			light-dark($BG_LIGHT_1, $BG_DARK_1) 0%,
			light-dark($BG_LIGHT_2, $BG_DARK_2) 100%);
}

#idCard {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 100%;

	padding-top: 2rem;
	padding-bottom: min(.5vw, 3rem);

	box-sizing: border-box;

	border-radius: $paper_border_radius;
	// box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.302);

	color: white;
	// background-color: white;

	img {
		width: 100%;
		max-width: 15rem;
		aspect-ratio: 1 / 1;

		border-radius: 100%;
		filter: grayscale(50%) contrast(110%);
	}

	.text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		margin-bottom: 2rem;

		text-align: center;
		text-wrap: wrap;
		word-break: normal;

		// background-color: red;

		h1 {
			font-size: min(15vw, 5rem);
			font-weight: bold;
			letter-spacing: 0.5rem;
			line-height: .88em;
			font-family: georgia, serif;

			margin-bottom: 0.5rem;

			text-transform: uppercase;
		}

		#subHeader {
			width: 90vw;

			text-wrap: wrap;
			word-break: normal;
			font-size: min(4.5vw, 1.1rem);

			a {
				color: inherit;
			}
		}
	}
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;

	padding-left: 5vw;
	padding-right: 5vw;

	border-radius: $paper_border_radius;

	color: white;
	// background-color: white;


	#sheet {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: stretch;

		border-radius: $paper_border_radius;

		.section {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			// padding: 2rem;
			box-sizing: border-box;

			// margin: 1rem;
			margin-left: 0;
			margin-right: 0;

			border-radius: $paper_border_radius;
			// background-color: white;

			h2 {
				width: 100%;

				margin: 0;
				margin-bottom: 1.75rem;

				font-weight: normal;
				line-height: 1em;
				text-align: left;
			}

			nav {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: stretch;

				height: 100%;

				// background-color: orange;

				a {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;

					margin-bottom: min(5vw, 1.5rem);

					padding: 1.25rem;
					box-sizing: border-box;

					box-shadow: 0px 0px 3px 0px $shadow_color;
					border-radius: calc($paper_border_radius / (3 / 2));

					text-decoration: none;

					color: black;
					background-color: white;

					h3 {
						margin-bottom: 0.5rem;

						font-weight: bold;

						.version {
							font-weight: normal;
							opacity: 50%;
						}
					}

					.description {
						text-wrap: wrap;
					}
				}

				a:hover {
					transition-duration: 0.1s;
					cursor: pointer;
					background-color: rgb(209, 209, 209);
				}

				// a.last {
				// margin-bottom: 0;
				// }
			}
		}
	}

	#socials {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;

		margin-top: min(2vw, .5rem);

		box-sizing: border-box;

		text-decoration: none;

		color: white;
		// background-color: red;

		.email {
			text-decoration: inherit;
			color: inherit;

			font-size: min(1rem, 4.5vw);
		}

		.icons {
			display: flex;
			flex-direction: row;

			margin-top: .5rem;
			margin-left: -1rem;


			a {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				width: 1.5rem;

				margin-left: 1rem;

				img {
					width: 100%;
					aspect-ratio: 1/1;
					filter: grayscale(100%) brightness(10000%);
				}
			}
		}
	}

	@media screen and (min-width: 33rem) {
		#socials {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			.icons {
				margin-left: 0;
			}
		}
	}
}