$background_dark_color: #0a0a0a;

$header_height: min(30px, 2.75vh);

$intro_profile_image_width: clamp(0px, 40vh, 400px);

$intro_text_ul_indent: min(2em, 8vw);

$normal_font_weight: 350;
$bolded_font_weight: 500;


* {
    margin: 0;
    padding: 0;

    font-size: min(22px, 6vw);


    font-family: Helvetica, Arial, sans-serif;
}

.header {
    // position: fixed;
    display: flex;
    width: 100%;
    height: $header_height;


    justify-content: center;
    align-items: center;

    color: white;
    background-color: $background_dark_color;

    padding-top: 0.19em;

    font-style: normal;
    text-transform: uppercase;
    font-family: sans-serif;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;

    background: black;
    color: white;
    padding: 0%;
}

#splash-content {
    transform: scaleY(-1);
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 100%;
    height: min(75vh, 900px);


    background-color: $background_dark_color;
    background: $background_dark_color;
    background-image: url("/media/Blue_Sky_with_Clouds.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#hero-image {
    transform: scaleY(-1);
    width: $intro_profile_image_width;
    aspect-ratio: 1/1;

    margin-top: max(1.75vw, 20px);

    border-radius: 100%;

    object-fit: cover;
    object-position: center;
}

#hero-image:hover {
    filter: none;
}

#splash-text {

    color: white;

    font-family: sans-serif;

    /* background-color: violet; */
    transform: scaleY(-1);

    h1 {
        font-size: min(9vw, 275%);
        font-weight: 1000;
    }
}