*{
    font-family: consolas, serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes ensoSpin {
    from {
        transform: rotate(520deg);
        opacity: 1;
        width: 100%;
        border-radius: 100%;
    }

    to {
        transform: rotate(145deg);
        opacity: 1;
        width: 25%;
        border-radius: 100%;
    }
}

html {
    height: 100%;
    width: 100%;
}

body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        justify-items: center;

        display: block;
        height: 100%;

        background-color: red;
}

#splashpage {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        min-width: 100%;
        height: 100%;
        text-align: center;

        padding-top: 5%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;

        color: white;
        background: rgb(255,255,);
        background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(255,255,255,1) 100%);
}  

#logo {
        width: 25%;
        max-width: 1100px;
        min-width: 125px;

        margin-bottom: 2.5%;
    
        animation-name: ensoSpin;
        animation-duration: 3.5s;
        animation-timing-function: ease;
    
        transform: rotate(145deg);
}

#name {
        font-size: 40px;
        padding: 1%;
}

.textbox {
        display: inline-block;
        background-color: rgb(0, 0, 0);
        color: white;
        
        height: auto;
        width: 75%;
        max-width: 950px;
        min-width: 0px;

        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0%;
        margin-right: 0%;

        padding: 20px 3% 20px 3%;
        /* top right bottom left*/

        border: 1px solid white;
        border-radius: 0px 10px 0px 10px;
    
        text-align: center;

        font-family: 'Times New Roman', Times, serif;
        font-size: clamp(15px, 110%, 25px); /*the minimum, preferred, and maximum values, in that order.*/
}

#invitation {
    text-align: center;

    padding: 20px 3% 30px 3%;
    /* top right bottom left*/

    color: white;
    background-color: black;
}

.section {
    display: block;
}

@media (orientation: portrait) {
    .section {
        text-align: center;

        padding-top: 7.5%;

        color: white;

        background-color: black;
    }

    .i-verb {
        text-align: center;
        padding: 3.3%;
        font-weight: bold;
    }

    .section .section-pic {
        width: 100%;
    }

    .section .image-caption {
        padding-left: 2.5%;
        padding-right: 2.5%;

        padding-bottom: 2.5%;

        color: gray;
        font-style: italic;
        font-size: smaller;
    }

    .small-textbox {
        display: inline-block;
        background-color: rgb(0, 0, 0);
        color: white;
        
        height: auto;
        width: 80%;
        
        text-align: center;
    
        font-family: 'Times New Roman', Times, serif;
        font-size: clamp(15px, 110%, 25px); /*the minimum, preferred, and maximum values, in that order.*/
    }

    .section p {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    #rowing {
        background: rgb(255,255,);
        background: linear-gradient(0deg, rgb(20, 38, 79) 50%, rgb(0, 0, 0) 100%);
    }

    #stem {
        background: rgb(255,255,);
        background: linear-gradient(0deg, rgb(6, 62, 28) 50%, rgb(20, 38, 79) 100%);
    }

    #art {
        background: rgb(255,255,);
        background: linear-gradient(0deg, rgb(0, 0, 0) 50%, rgb(6, 62, 28) 100%);
    }
}

/*
.image-complex {
    display: inline-block;
    width: 40%;
    text-align: center;

    padding: 5px;
    
    border: 1px solid white;
    border-radius: 0px 10px 0px 10px;

    background-color: rgba(165, 42, 42, 0.526);
}
.image-complex img {
    width: 100%;
    border-radius: 0px 5px 0px 0px;

}
.image-complex p {
    font-style: italic;
    font-size: clamp(5px, 80%, 25px); /*the minimum, preferred, and maximum values, in that order.*/


*/

.small-textbox {
    display: inline-block;
    background-color: rgb(0, 0, 0);
    color: white;
    
    height: auto;
    width: 50%;
    
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(15px, 110%, 25px); /*the minimum, preferred, and maximum values, in that order.*/
}

#rowing {
    background-color: white;
}