$background_dark_color: #0a0a0a;

// $header_height: 30px;

// $intro_profile_image_width: 400px;

// $intro_text_ul_indent: 1em;

:root {
	color-scheme: light dark;
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-size: auto;
}