$background_dark_color: #0a0a0a;

$header_height: min(30px, 2.75vh);

$intro_profile_image_width: clamp(0px, 40vh, 400px);

$intro_text_ul_indent: min(2em, 8vw);

* {
    margin: 0;
    padding: 0;

    font-size: min(22px, 6vw);

    // font-family: sans-serif;
}

img {
    // width: 100px;
}

header {
    // position: fixed;
    display: flex;
    width: 100%;
    height: $header_height;


    justify-content: center;
    align-items: center;

    color: white;
    background-color: $background_dark_color;

    padding-top: 0.19em;
    font-style: normal;
    text-transform: uppercase;
    font-family: sans-serif;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;

    background: black;
    color: white;
    padding: 0%;
}
#splash-content {
    transform: scaleY(-1);
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 100%;
    height: min(75vh, 900px);

    padding-bottom: $header_height;

    background-color: $background_dark_color;
    background: $background_dark_color;
    background-image: url("/media/Blue_Sky_with_Clouds.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
#hero-image {
    transform: scaleY(-1);
    width: $intro_profile_image_width;
    aspect-ratio: 1/1;

    margin-top: max(1.75vw, 20px);

    border-radius: 100%;

    object-fit: cover;
    object-position: center;

    /* border-top-left-radius: 500px; */
    /* border-bottom-left-radius: 500px; */

    /* box-shadow: -200px 1px 89px -83px rgba(0,0,0,1) inset;
    -webkit-box-shadow: -200px 1px 89px -83px rgba(0,0,0,1) inset;
    -moz-box-shadow: -200px 1px 89px -83px rgba(0,0,0,1) inset; */

    // background-color: red;
    // filter: brightness(0);
    // filter: saturate(100%);
    // filter: invert(73%);
    // filter: sepia(50%);
    // filter: saturate(2875%);
    // filter: hue-rotate(138deg);
    // filter: brightness(102%);
    // filter: contrast(106%);
    filter: grayscale(100%) hue-rotate(138deg);
}
#hero-image:hover {
    filter: none;
}

#splash-text {

    color: white;

    font-family: sans-serif;

    /* background-color: violet; */
    transform: scaleY(-1);

    h1 {
        font-size: min(9vw, 275%);
        font-weight: 1000;
    }
}
#tagline {
    /* background-color: red; */
    font-size: 0.715em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}





#intro-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;

    // padding-top: min(2vh, 100px);

    // padding-right: $intro_text_ul_indent;

    background-color: $background_dark_color;
    background: linear-gradient(180deg,$background_dark_color 0%, black 100%);
}


#intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-position:outside;

    // height: $intro_profile_image_width;
    width: clamp(300px, 90%, 800px);

    $intro-text_leftright-padding: 7vw;
    padding-left: $intro-text_leftright-padding;
    padding-right: $intro-text_leftright-padding; 
    padding-top: min(4em, 9vh);

    font-size: min(4vh, 1.85em, 24px);
    font-family: sans-serif;
    line-height: max(30px, 1.5em);
    font-weight: 100;

    text-align:left;

    // background-color: blue;

    ul {
        $intro-text_ul_margin-top-bottom: 0px;
        margin-left: $intro_text_ul_indent;
        margin-top: $intro-text_ul_margin-top-bottom;
        margin-bottom: $intro-text_ul_margin-top-bottom;

        li {
            $intro-text_ul_li_margin-top-bottom: min(0.75em, 3vh);
            margin-top: $intro-text_ul_li_margin-top-bottom;
            margin-bottom: $intro-text_ul_li_margin-top-bottom;
            font-weight: 350;
        }
    }
}
#hero blockquote {

    $hero_blockquote_fontsize: 0.95em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;

    background-color: $background_dark_color;
    $hero_blockquote_margintopbottom: min(4em, 9vh);
    margin-top: $hero_blockquote_margintopbottom;
    margin-bottom: $hero_blockquote_margintopbottom;
    

    width: clamp(0px, 70%, 600px);
    // padding-left: 1vw;
    // padding-right: 1vw;
    padding: 1em;
    // height: 10em;

    border: 1px solid white;

    // font-size: min(1vw, 20px, 1.6em);
    font-family: serif;

    i {
        font-size: $hero_blockquote_fontsize;
    }


    .quote {
        font-family: serif;
        margin-bottom: 1em;
        text-align: left;
    }

    p {
        text-align: right;

        a {
            color: rgb(167, 167, 167);

            font-size: $hero_blockquote_fontsize;
        }
    }
}
