$background_dark_color: #0a0a0a;

$header_height: 30px;

$intro_profile_image_width: 400px;

$intro_text_ul_indent: 1em;

* {
    margin: 0;
    padding: 0;

    // font-family: sans-serif;
}

img {
    width: 100px;
}

header {
    position: fixed;
    display: flex;
    width: 100vw;
    height: $header_height;


    justify-content: center;
    align-items: center;

    color: white;
    background-color: $background_dark_color;

    padding-top: 0.19em;
    font-style: normal;
    text-transform: uppercase;
    font-family: sans-serif;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;

    background: $background_dark_color;
    color: white;
    padding: 0%;
}
#splash-content {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33vh;

    padding-top: $header_height;

    background-color: $background_dark_color;
    background-image: url("/media/Blue_Sky_with_Clouds.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#splash-text {
    font-size: 3em;

    font-family: sans-serif;

    /* background-color: violet; */
}
#tagline {
    /* background-color: red; */
    font-size: 0.715em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}





#intro-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;

    padding-top: 100px;

    // padding-right: $intro_text_ul_indent;

    background-color: $background_dark_color;
    background: linear-gradient(0deg,$background_dark_color 0%, black 100%);
}

#hero-image {
    width: $intro_profile_image_width;
    aspect-ratio: 1/1;

    // margin: 2.5vw;

    border-radius: 100%;

    object-fit: cover;
    object-position: center;

    /* border-top-left-radius: 500px; */
    /* border-bottom-left-radius: 500px; */

    /* box-shadow: -200px 1px 89px -83px rgba(0,0,0,1) inset;
    -webkit-box-shadow: -200px 1px 89px -83px rgba(0,0,0,1) inset;
    -moz-box-shadow: -200px 1px 89px -83px rgba(0,0,0,1) inset; */

    // background-color: red;
}
#intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-position: inside;

    height: $intro_profile_image_width;
    width: 800px;

    padding-left: 1.5em;

    font-size: 1.85em;
    font-family: sans-serif;
    line-height: 1.5em;
    font-weight: 100;

    // background-color: blue;
}
#intro-text ul {
    margin-left: $intro_text_ul_indent;

}
#intro-text ul li {
    margin: 0em;
    font-weight: 350;
}
#hero blockquote {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;

    // background-color: red;
    margin-top: 125px;
    margin-bottom: 50px;
    

    width: 20%;
    padding-left: 40%;
    padding-right: 40%;
    height: 10em;

    font-size: 1.6em;
    font-family: serif;
}
.quote {
    font-size: 1.1em;
    font-family: serif;
}
#hero blockquote a, #hero blockquote p a {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
}