$background_dark_color: #0a0a0a;

main {
    display: block;
    width: 100%;

    background-color: red;
}

section {
    display: block;
    width: 100%;
    height: 1000px;

    // padding-top: 30px;
    // padding-bottom: 30px;
}

.shadow_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    background-color: orange;

    // background: #ffffff;
    // background: linear-gradient(180deg, #0a0a0a 0%, rgba(0, 0, 0, 0) 25%);
}

.img_container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 75%;
    width: 35%;

    border-radius: 0px;

    background-color: none;
    // overflow-wrap: none;
    overflow: none;
    overflow-block:clip;

    img {
        width: 100%;
        aspect-ratio:unset;
    }
}

.text_container { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;

    // background-color: green;

    padding-left: 3vw;
    padding-right: 3vw;
    // margin-right: 1vw;

    width: 35%;
    height: 80%;

    font-size: 1.85em;
    line-height: 1.7em;
    font-family: sans-serif;
    font-weight: 300;
}

.even {
    flex-direction: row;

    .shadow_container {
        flex-direction: row;
    }
}

.odd {
    flex-direction: row-reverse;

    .shadow_container {
        flex-direction: row-reverse;
    }
}

#pre-university .shadow_container {
    background-color: white;
    // background-image: url("/media/pre-university/prairie.jpg");
    // background: url("/media/pre-university/prairie.jpg"), linear-gradient(90deg, red 0%, blue 100%);

    // box-shadow: -50vw 0vw 100vw -0vw rgba(0, 0, 0, 0.458) inset;

    // -webkit-box-shadow: 197px 1px 88px -41px rgba(0,0,0,0.75) inset;
    // -moz-box-shadow: 197px 1px 88px -41px rgba(0,0,0,0.75) inset;
    background-size: cover;
    background-position: 20% 7%;
}

#rowing .shadow_container {
    background-color: #002a51;
    background: linear-gradient(90deg, #002a51 0%, black 100%);
    // background-image: url("/media/rowing/lake.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y: 60%;
    background-position-x: 100%;

    color: white;

    .text_container {
        

        a {
            color: lightgrey;
        }
    }
}

#torjai-garcia .shadow_container {
    background-color: white;
    background-image: url("/media/torjai-garcia/highway.jpg");
    background-size: cover;
    background-position-y: 32.5%;
    background-repeat: no-repeat;
}

#uoftearless .shadow_container {
    color: black;
    background-color: white;

    .img_container {

        img {
            height: 100%;
            width: auto;
        }
    }
}

#csb498 {
    background-image: url("/media/csb/microarray.jpg");
}
#csb498 .shadow_container {
    color: white;
    background-color: black;
    // background-image: url("/media/csb/microarray.jpg");

    a {
        color: lightgrey;
    }
}